@model Dictionary<int, string>
@{
    ViewBag.Title = "CourseLevels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <br />
    <h5 class="float-left">@Html.ActionLink("< Kurset", "AllCourses", "Course")</h5>
    <div class="float-right" style="margin-right:0px">
      <a href="/Course/MyFavoriteCourses" class="btn btn-warning text-white">Kurset e preferuara <i class="fas fa-star"></i></a>
    </div>
  <br />
  <hr />
  <br />
  <h2 class="text-center">@ViewBag.Kursi</h2>
  <br /><br />
    @foreach(var level in Model)
    {
        @Html.ActionLink(level.Value, "CourseLevelTypes", "Course", new { @courseId=ViewBag.KursId, @levelId=level.Key }, new { @class= "btn btn-dark btn-lg btn-block" })
    }
</div>


