
@{
    ViewBag.Title = "CourseQuizzes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <br />
  <h2>Pyetsore</h2>
  <br /> <br />
  <p class="text-info"> Zgjidhni nje pyetsor</p>
  <br />
  <div class="row">
    <div class="col-md-4">
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfZmsAuSMAAvefaXn8WY59PIrUGBzXqNRQlLoO-E1Bl7LQI9g/viewform" class="btn btn-lg btn-dark">
        Java
      </a>
    </div>
    <div class="col-md-4">
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSexWHwTI_CxaULiw3oDdjRuVA1wNbuYZsIqSHfbejdAapQmbg/viewform" class="btn btn-lg btn-dark">
        MVC
      </a>
    </div>
    <div class="col-md-4">
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc1uKpVai0BDd94ZvcLr1qhrtjRsp0y1v5PlkKrxanPH-y7sQ/viewform" class="btn btn-lg btn-dark">
        SQL
      </a>
    </div>
  </div>

</div>

